/* DM Sans Font from Google Font */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
/* Bodoni moda Font from Google Font */
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");

:root {
  --primaryFont: "DM Sans", sans-serif;
  --secondaryFont: "Bodoni Moda", serif;
  --primaryColor: #644135;
  --secondaryColor: #eae9e4;
  --darkTanBrown: #631015;
  --Sandcastle: #c2ac93;
  --balckShadow: rgba(0, 0, 0, 0.3);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--secondaryColor);
  font-size: 18px;
}
/* common elements  */
a {
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  color: white;
  font-family: var(--secondaryFont);
}
h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  color: var(--primaryColor);
  font-family: var(--secondaryFont);
}
h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.03em;
  color: black;
}
h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--darkTanBrown);
  font-family: var(--secondaryFont);
}
/* common classes */
.mb-30 {
  margin-bottom: 30px;
}
.commonPadding {
  padding: 115px 0;
}
.customBtnPrimary {
  color: var(--primaryColor);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  background-color: var(--secondaryColor);
  padding: 10px;
  transition: 0.2s linear;
}
.customBtnPrimary:hover {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
}
.customBtnSecondary {
  color: var(--secondaryColor);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  background-color: var(--primaryColor);
  padding: 10px;
  transition: 0.2s linear;
}
.customBtnSecondary:hover {
  background-color: var(--Sandcastle);
  color: var(--darkTanBrown);
}

/* PromotionalBanner  */
.promotionalBanner {
  background-color: var(--primaryColor);
  padding: 15px 0;
}
.promotionMsg a span {
  text-decoration: underline;
}

/* Navbar */
nav {
  background-color: var(--secondaryColor);
}
.navbar-brand {
  margin-right: 50px;
}
.nav-item .active {
  color: var(--darkTanBrown) !important;
}
.navItem {
  position: relative;
}
.navItem::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 1px;
  width: 100%;
  left: 0;
  background-color: var(--darkTanBrown);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
.navItem:hover::after {
  transform: scaleX(1);
}
.navItem .nav-link:hover {
  color: var(--darkTanBrown) !important;
}
.nav-link {
  padding: 0 !important;
  margin: 0 !important;
}
.navbar-nav {
  gap: 25px;
}

.navIcon {
  margin-left: 10px;
}

/* banner */
.banner {
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 884px;
}
.banner .container-xxl {
  height: 100%;
}
.bannerInfo {
  max-width: 600px;
  width: 100%;
}
/* about us */
.aboutUs .customCard figure {
  overflow: hidden;
}
.aboutUs .customCard figure img {
  transition: transform 0.3s ease-in-out;
}
.aboutUs .customCard figure img:hover {
  transform: scale(1.1);
}

/* categories */
.row-cols-7 > * {
  flex: 0 0 calc(100% / 7);
  max-width: calc(100% / 7);
}
.category .customCard p {
  color: var(--darkTanBrown);
  font-family: var(--secondaryFont);
}
.category .customCard figure {
  overflow: hidden;
}
.category .customCard img {
  transition: transform 0.3s ease-in-out;
}
.category .customCard:hover img {
  transform: scale(1.1);
}

/* arriavl & products */
.productCard p {
  font-size: 20px;
  line-height: 1.2;
  color: black;
  font-family: var(--secondaryFont);
}
.productCard figure {
  overflow: hidden;
}
.productCard img {
  transition: transform 0.5s ease-in-out;
}
.productCard:hover img {
  transform: scale(1.1);
}

/* deals */
.dealRight {
    background-color: var(--primaryColor);
    padding: 20px;
}
.dealBody h3 {
    color: var(--Sandcastle);
}
.dealBody h2 {
    color: white;
}
.dealBody .customBtnPrimary:hover {
    background-color: var(--Sandcastle);
}

/* testimonal */
.wrapper {
    position: relative;
    height: 304px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 80%,
        rgba(0,0,0,0)
    );
}
.item {
    background-color: white;
    padding: 80px;
    max-width: 815px;
    width: 100%;
    position: absolute;
    left: max(calc(200px * 3), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: -25s;
}
.leftPart {
    border-right: 2px solid var(--Sandcastle);
    padding-right: 260px;
}
.testimonalInfo {
    width: 100%;
}
@keyframes scrollLeft {
    to {
        left: -200px;
    }
}
.item1 {
    animation-delay: calc(30s / 3 * (3 - 1) * -1);
}
.item2 {
    animation-delay: calc(30s / 3 * (3 - 2) * -1);
}
.item3 {
    animation-delay: calc(30s / 3 * (3 - 3) * -1);
}
.testimonals {
    padding-bottom: 115px;
}
/* footer */
footer {
    background-color: var(--primaryColor);
    padding-top: 115px;
}
.footCard p {
    color: var(--Sandcastle);
    font-size: 20px;
    line-height: 1.3;
    font-family: var(--secondaryFont);
}
.footCard ul li a {
    color: white;
    line-height: 1.5;
    letter-spacing: -0.01em;
}
.footCard1,
.footcard2 {
    border-right: 2px solid var(--Sandcastle);
}
.contactForm {
    background-color: var(--balckShadow); 
    padding: 80px 70px;
}
.contactForm p {
    font-size: 48px;
    line-height: 1;
    color: white;
    font-family: var(--secondaryFont);
}
form {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}
input {
    display: inline-block;
    border: none;
    outline: none;
    background: none;
    margin-right: 100px;
    width: 100%;
}
input::placeholder {
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: white;
}
input:focus {
    color: var(--Sandcastle);
}
/* copyright */
.copyrightRightPart a {
    line-height: 1.5;
    color: white;
    margin-left: 20px;
}
.last {
    padding-left: 20px;
    border-left: 2px solid var(--Sandcastle);
}
@media screen and (max-width: 1199px) {
  h2 {
    font-size: 36px;
  }
  .navbar-brand {
    margin-right: 20px;
  }
  .navbar-nav {
    gap: 10px;
  }
  .nav-link {
    font-size: 14px !important;
  }
  .navIcon {
    margin-left: 5px;
  }
  .aboutUs .customCard figure img {
    width: 100%;
  }
  .footcard2 {
    border: none;
  }
  .footcard2 img {
    max-width: 150px;
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .promotionMsg a {
    font-size: 14px;
  }
  .aboutUs h2 {
    font-size: 36px;
  }
}
@media screen and (max-width: 577px) {
  p {
    font-size: 14px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 18px;
  }
  .aboutUs h2 {
    font-size: 18px;
  }
  .footCard1 {
    border-right: none;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--Sandcastle);
  }
  .footcard2 {
    border-right: none;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--Sandcastle);
  }
  .footCard {
    text-align: center;
  }
  .contactForm {
    flex-direction: column;
    padding: 40px 20px;
  }
  .contactForm p {
    font-size: 32px;
  }
  .copyrightContainer a{
    font-size: 10px;
  }
  .copyrightContainer {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .copyrightRightPart {
    padding: 0;
  }
  .category .row {
    flex-direction: column;
  }
  .newArrival .row {
    flex-direction: column;
  }
  .newArrival .productCard {
    text-align: center;
  }
  
}
